{% extends 'base.html.twig' %}

{% block title %}Emprunt index
{% endblock %}

{% block body %}
	<h1>Emprunt index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date_emprunt</th>
				<th>Date_retour</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% if is_granted('ROLE_ADMIN') %}
				{% for emprunt in emprunts %}
					<tr>
						<td>{{ emprunt.id }}</td>
						<td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_profile_emprunt', {'id': emprunt.id}) }}">show</a>
						</td>
					</tr>
				{% endfor %}
			{% elseif emprunts == null %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% else %}
				{% for emprunt in activeEmprunts %}
					<tr>
						<td>{{ emprunt.id }}</td>
						<td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_profile_emprunt', {'id': emprunt.id}) }}">show</a>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>

	<a href="{{ path('app_profile_password',{'id': app.user.id}) }}">Changer de Mot de passe</a>
	<a href="{{ path('app_profile_user',{'id': app.user.id}) }}">Modifier vos informations</a>

{% endblock %}
