{% extends 'base.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block body %}
	<h1>Livre index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Anee_edition</th>
				<th>Nombre_pages</th>
				<th>Code_isbn</th>
				<th>Disponible</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for livre in livres %}
				<tr>
					<td>{{ livre.id }}</td>
					<td>
						<a href="{{ path('app_home_show', {'id': livre.id}) }}">{{ livre.titre }}</a>
					</td>
					<td>{{ livre.aneeEdition }}</td>
					<td>{{ livre.nombrePages }}</td>
					<td>{{ livre.codeIsbn }}</td>
					<td>
						{% if livre.emprunts is empty %}
							Disponible
						{% else %}
							{% for emprunt in livre.emprunts %}
								{% if emprunt.dateRetour %}
									Disponible
								{% else %}
									Non Disponible
								{% endif %}
							{% endfor %}
						{% endif %}
					</td>
					<td>
						<a href="{{ path('app_home_show', {'id': livre.id}) }}">show</a>
					</td>
				</tr>
			</tbody>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="6">no records found</td>
	</tr>
{% endfor %}</tbody></table>{% endblock %}
