{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Anee_edition</th>
                <td>{{ livre.aneeEdition }}</td>
            </tr>
            <tr>
                <th>Nombre_pages</th>
                <td>{{ livre.nombrePages }}</td>
            </tr>
            <tr>
                <th>Code_isbn</th>
                <td>{{ livre.codeIsbn }}</td>
            </tr>
            <tr>
                <th>Disponibilité</th>
                {% if emprunt.dateRetour %}
                    <td>Disponible</td>
                {% else %}
                    <td>Non Disponible</td>
                {% endif %}    
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home_index') }}">back to list</a>

{% endblock %}
